<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="nav.css">
	<title>randomSite</title>
</head>

<body class="wrapper">
	<header class="header">
		<div class="header__container">
			<div class="header__logo">

			</div>
			<div class="header__nav nav">
				<div class="nav__icon">
					<span></span>
				</div>
				<nav class="nav__body">
					<ul class="nav__list">
						<li><a data-goto=".first-block" href="#" class="nav__link">About us</a></li>
						<li><a data-goto=".third-block" href="#" class="nav__link">contacts</a></li>
						<li><a data-goto=".last-block" href="#" class="nav__link">galery</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="text-block first-block " id="f1">
			<h2>Title Block</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia.
			</p>
		</div>
		<div class="text-block second-block">
			<h2>Title Block</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia.
			</p>
		</div>
		<div class="text-block third-block" id="f2">
			<h2>Title Block2</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia.
			</p>
		</div>
		<div class="text-block last-block" id='f3'>
			<h2>Title Block3</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero dolor, earum pariatur
				quam voluptates beatae
				natus totam nostrum qui illum accusantium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
				elit.
				Et velit iste corporis repellat id? Necessitatibus, aliquid delectus, accusantium reprehenderit incidunt,
				deleniti distinctio modi voluptas fugit hic dolores repellat et. Officiis possimus quia blanditiis molestias
				molestiae, atque dignissimos temporibus dolorum nesciunt eos. Culpa neque officiis, ipsa officia asperiores
				aliquam vitae mollitia.
			</p>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="nav.js"></script>
</body>

</html>