<a href="#popup" class="popup-link">Политика
	конфиденциальности</a>
<a href="#popup2" class="popup-link">Пользовательское
	соглашение</a>


<div id="popup" class="conf ">
	<div class="conf__body">
		<div class="conf__content">
			<a href="#" class="conf__close close-popup">
				<?xml version="1.0" ?><svg widt="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
					<g id="cross">
						<line class="cls-1" x1="7" x2="25" y1="7" y2="25" />
						<line class="cls-1" x1="7" x2="25" y1="25" y2="7" />
					</g>
				</svg>
			</a>


			<h3 style="color:#333333">Политика конфиденциальности</h3>
			<p><span style="color: #333333;">Компания понимает, насколько конфиденциальность и
					безопасность
					персональных
					данных важны для вас. Вся компания сосредоточена том, чтобы максимально
					хранить в
					безопасности
					личную
					информацию клиентов, сотрудников, посредников, соискателей и других лиц
					внутри или вне
					компании.
					Именно с этой целью разработана специальная политика и практика защиты
					личных данных. Если
					вы
					открываете счет или пользуетесь продуктами и услугами компании, вы даете
					свое согласие на
					сбор и
					хранение вашей личной информации.&nbsp;</span></p>
			<p><span style="color: #333333;">Условия политики конфиденциальности разработаны на
					принципах защиты
					информации и конфиденциальности. Они предназначены для уведомления наших
					существующих/потенциальных
					клиентов, претендентов на вакансию, посетителей сайта и других лиц о
					правилах, что
					действуют.</span>
			</p>
			<p><span style="color: #333333;">Данная политика конфиденциальности связана с теми
					лицами, которые
					поделились своими личными данными или же пользуются сайтами, торговыми
					платформами,
					программным
					обеспечением компании.</span></p>
			<h2>Кто несет ответственность за личные данные клиента компании?</h2>
			<p><span style="color: #333333;">Компания является ответственной за безопасность
					собранных личных
					данных
					клиентов. Личная информация любого клиента находится под контролем того
					подразделения
					компании,
					которое отвечает за ваше обслуживание или поддержку связи с
					вами.&nbsp;</span></p>
			<h2>Какая личная информация о клиентах собирается компанией?</h2>
			<p><span style="color: #333333;">Наша компания занимается сбором и обработкой ваших
					личных данных.
					Они
					могут
					состоять из следующей информации:</span></p>
			<ul>
				<li><span style="color: #333333;">данные, которые были переданы клиентом во
						время его
						регистрации на
						сайте компании или применения любых модулей сайта компании
						(например, это может быть
						имя,
						электронная почта, телефонный номер, дата рождения, налоговый
						номер, инвестиционные цели
						и
						др.);</span></li>
				<li><span style="color: #333333;">данные, которые получены после осуществления
						транзакций, что
						производятся клиентом с помощью системы компании, или данные об
						услугах, которые
						предлагаются
						компанией;</span></li>
				<li><span style="color: #333333;">данные, что получены от агентств, которые
						занимаются сбором
						сведений
						о
						кредитоспособности клиентов;</span></li>
				<li><span style="color: #333333;">данные, получены с помощью использования
						cookie-файлов в
						сети.</span>
				</li>
			</ul>
			<h2 style="color:#333333">С какой целью используется ваша личная информация?</h2>
			<p><span style="color: #333333;">Компания может применять личную информацию о клиентах
					для того,
					чтобы:&nbsp;</span></p>
			<ul>
				<li><span style="color: #333333;">обеспечить вас или вашу организацию сервисами
						по
						администрированию,
						учету и правовому контролю в соответствии с соглашением, которое
						было заключено с
						нами;</span>
				</li>
				<li><span style="color: #333333;">обеспечить вас или вашу организацию
						брокерскими и другими
						услугами,
						что
						доступны для использования в наших платформах, и/или обработкой
						любых запросов, которые
						могут
						появится у вас или вашей организации;</span></li>
				<li><span style="color: #333333;">преследовать законные интересы, которые
						предусматривают
						возможность
						выполнения, отслеживания и анализа нашей деловой
						деятельности;</span></li>
				<li><span style="color: #333333;">реализовать любые соглашения и/или защиту
						нашей (или чужой)
						собственности или прав, а также иметь возможность оспаривать
						возможные претензии;</span>
				</li>
				<li><span style="color: #333333;">осуществить набор персонала;</span></li>
				<li><span style="color: #333333;">отвечать на ваши запросы относительно
						информации и
						поддерживать
						дальнейшую связь с вами с целью предоставления дополнительной
						помощи;</span></li>
				<li><span style="color: #333333;">поддерживать связь с вами (в случае вашего
						отказа)
						относительно
						услуг и
						предложений, которые могут оказаться для вас интересными;</span>
				</li>
				<li><span style="color: #333333;">заключать или выполнять различные рабочий
						контракты;</span>
				</li>
				<li><span style="color: #333333;">наблюдать за действиями и услугами, что
						осуществляются
						компанией и
						могут предусматривать применение таких различных методов, как:
						(i) применение "разумных"
						инструментов для автоматизированного мониторинга; или (ii)
						произвольное отслеживание
						систем с
						помощью инструментов предназначенных для записи электронных
						коммуникаций; (iii)
						целенаправленный
						контроль систем, если это связано с расследованием, регуляторным
						предписанием, судебным
						разбирательством, арбитражем; или (iv) инструменты отслеживания
						и анализа данных,
						которые
						выявляют
						связь с помощью различных разрозненных источников; и/или (v)
						использование новых
						технологий с
						целью
						мониторинга;</span></li>
				<li><span style="color: #333333;">вести статистику, исследования рынка и анализ
						продуктов, что
						необходимо
						для того, чтобы разрабатывать и совершенствовать наш ассортимент
						услуг;</span></li>
				<li><span style="color: #333333;">распознавать и предотвращать отмывание
						денежных средств,
						терроризма,
						мошенничества или другой деятельности преступного
						характера;</span></li>
				<li><span style="color: #333333;">соответствовать юридическим/регуляторным
						требованиям, а также
						выполнять
						наши обязательства в соответствии с соглашениями с налоговыми
						органами.</span></li>
			</ul>
			<p><span style="color: #333333;">Компания может обрабатывать ваши личные данные (только
					после того,
					как
					вы
					дадите на это свое разрешение в соответствии с законом), чтобы:</span>
			</p>
			<ul>
				<li><span style="color: #333333;">поддерживать с вами связь с помощью
						предварительно одобренных
						вами
						каналов, сообщая о последних новостях, объявлениях и прочей
						информации об услугах,
						продуктах и
						технологиях компании;</span></li>
				<li><span style="color: #333333;">проводить опросы, маркетинговые кампании,
						анализ рынка или
						рекламную
						деятельность;</span></li>
				<li><span style="color: #333333;">собирать информацию о ваших предпочтениях для
						того, чтобы
						индивидуализировать и улучшать качество коммуникации с
						вами.</span></li>
			</ul>
			<p><span style="color: #333333;">В соответствии с законодательством, компания может
					начать рассылку
					сообщений маркетингового характера только после вашего запроса. У вас
					всегда будет
					возможность
					отказаться от этой услуги.&nbsp;</span></p>
			<p><span style="color: #333333;">Ваша персональная информация может обрабатываться в
					соответствии со
					следующими правовыми основаниями:</span></p>
			<ul>
				<li><span style="color: #333333;">выполнять ваши распоряжения или положения, что
						предусмотрены
						контрактом, или принимать шаги, необходимы для заключения такого
						контракта;</span></li>
				<li><span style="color: #333333;">выполнять наши обязательства в рамках
						закона;</span></li>
				<li><span style="color: #333333;">приносить пользу вам или третьим сторонам,
						если такая
						обработка не
						противоречит вашим интересам или главным правам и
						свободам.</span></li>
			</ul>
			<h2 style="color:#333333">Ваши личные данные: кому и в каких случаях они могут быть
				сообщены?</h2>
			<p><span style="color: #333333;">Компания имеет право сообщать вашу личную информацию в
					следующих
					случаях:</span></p>
			<ul>
				<li><span style="color: #333333;">для обеспечения услуг и продуктов, а также для
						управления,
						выставления
						счетов и другой деловой деятельности;</span></li>
				<li><span style="color: #333333;">для того, чтобы проинструктировать местных или
						зарубежных
						поставщиков с
						целью предоставить запрошенные вами услуги;</span></li>
				<li><span style="color: #333333;">для компаний, которые работают в сфере борьбы
						с мошенничеством
						и
						преступностью, и для других фирм, финансовых учреждений
						(например, бюро кредитных
						историй и
						надзорные органы);</span></li>
				<li><span style="color: #333333;">для любых депозитариев, бирж,
						клиринговых/расчетных систем,
						инспекторов
						счета или других участников актуальной структуры, контрагентов,
						дилеров, доверительных
						собственников, посредников и прочим лицам в ситуациях, где такое
						раскрытие информации
						является
						необходимым для того, чтобы осуществлять, контролировать и
						фиксировать транзакции в
						рамках
						услуг,
						что предоставляются нашей компанией;.</span></li>
				<li><span style="color: #333333;">для успешного набора персонала;</span></li>
				<li><span style="color: #333333;">для суда, правоохранительных органов,
						регулирующих структур,
						адвокатских бюро и других учреждений для подачи, обоснования или
						оспаривания иска или же
						альтернативного процесса относительно конфиденциального
						разрешения споров;</span></li>
				<li><span style="color: #333333;">для отслеживания посещаемости различных
						разделов нашего сайта
						и
						улучшения наших услуг.</span></li>
			</ul>
			<p><span style="color: #333333;">Во всех других случаях мы можем сообщать вашу личную
					информацию
					только
					после вашего на это согласия (добровольного или такого, что является
					обязательным в
					соответствии с
					законодательством).&nbsp;</span></p>
			<h2 style="color:#333333">Личная информация о третьих лицах</h2>
			<p><span style="color: #333333;">Если вы сообщаете нашей компании чужие личные данные
					(например,
					ваших
					руководителей, сотрудников или лиц, с которыми вы осуществляете деловую
					деятельность),
					убедитесь,
					что
					вы имеет на это право. Кроме того, нужно убедиться, можно ли фиксировать
					эти личные данные в
					соответствии с актуальной политикой конфиденциальности.</span></p>
			<h2 style="color:#333333">Безопасность при хранении вашей личной информации</h2>
			<p><span style="color: #333333;">В соответствии с требованиями законодательства, наша
					компания
					предпринимает
					необходимые меры технического и организационного характера с целью
					поддержки
					конфиденциальности и
					безопасности вашей личной информации. Это осуществляется в соответствии
					с нашим внутренним
					распорядком
					хранения, раскрытия, а также доступа к информации. Таким образом, личная
					информация может
					храниться
					в
					информационных системах компании, а также ее посредников или в виде
					бумажной
					документации.</span>
			</p>
			<h2 style="color:#333333">Обновление вашей личной информации</h2>
			<p><span style="color: #333333;">Для обновления личных данных вам нужно обратиться в
					службу
					поддержки
					нашей
					компании (например, у вас изменилась электронная почта или вы поменяли
					решение относительно
					своего
					согласия на использование личной информации). Наша компания не несет
					ответственности за
					убытки,
					которые возникают из-за неточной, неверной или неполной предоставленной
					вами персональной
					информации.</span></p>
			<h2 style="color:#333333">Сроки хранения вашей личной информации</h2>
			<p><span style="color: #333333;">Наша внутренняя политика определяет общие процедуры и
					стандарты
					хранения
					вашей личной информации. Она же определяет процедуры для удержания,
					обработки и ликвидации
					личных
					данных клиентов. Сроки хранения информации зависят от того, насколько
					долго они будут
					необходимы
					для
					того, чтобы выполнять законные, регуляторные и деловые требования.
					Компания может продлить
					срок их
					хранения, если это нужно для разбирательства, иска или
					расследования.</span></p>
			<h2 style="color:#333333">Как обновляется текущая политика конфиденциальности?</h2>
			<p><span style="color: #333333;">На нашем сайте всегда опубликована актуальная версия
					политики
					конфиденциальности нашей компании. Мы оставляем за собой право на
					периодические дополнения и
					корректировки. Если такие правки имеют место, подобные изменения сразу
					же размещаются на
					нашем
					сайте.
					Как только они опубликованы, они вступают в силу.</span></p>
		</div>
	</div>
</div>

<div id="popup2" class="conf">
	<div class="conf__body">
		<div class="conf2__content">

			<a href="#" class="conf__close close-popup">
				<?xml version="1.0" ?><svg widt="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
					<g id="cross">
						<line class="cls-1" x1="7" x2="25" y1="7" y2="25" />
						<line class="cls-1" x1="7" x2="25" y1="25" y2="7" />
					</g>
				</svg>
			</a>


			<p>Пользовательское соглашение</p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>1. ОБЩИЕ
						ПОЛОЖЕНИЯ</strong></span>
			</p>
			<p style="text-align: justify;"><span style="color: #464646;">1.1. &nbsp; Это
					пользовательское
					соглашение
					(далее &ndash; документ) связано с веб-ресурсом, на котором оно
					находится в открытом
					доступе.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">1.2. &nbsp; веб-ресурс
					находится в
					собственности компании.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">1.3. Продолжение
					применения
					веб-ресурса
					равносильно принятию правил и условий, а также осуществленных
					модификаций.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">1.4. Менеджмент-команда
					может вносить
					модификации или убирать данные без предупреждения.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">1.5. Данный документ
					отвечает за
					регулирование отношений, в которых находятся Менеджмент-команда и его
					клиент.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">1.6. клиент является
					ответственным за
					то,
					чтобы проверять модификации (учитывая все внесенные Менеджмент-командой
					модификации).</span>
			</p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>2. &nbsp;
						ОПРЕДЕЛЕНИЯ
						ТЕРМИНОВ</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">2.1. &nbsp; Термины,
					которые
					перечисляются
					ниже, имеют такое значение:</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">2.1.1 Менеджмент-команда
					&ndash;
					сотрудники, которые занимаются менеджментом.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">2.1.2. Организация
					использует
					Интернет-ресурс для осуществления своей деятельности.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">2.1.3. Пользователь (далее
					&ndash;
					клиент)
					&ndash; человек, которому предоставляется шанс воспользоваться доступом
					к веб-ресурсу, с
					применением сети.</span></p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>3. &nbsp; ПРЕДМЕТ
						документа</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">3.1. Предмет - это доступ
					к данных и
					услугам, что их осуществляет компания.&nbsp;</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">3.1.1. Среди сервисов,
					которыми может
					воспользоваться&nbsp; клиент, необходимо выделить такие:</span></p>
			<ul>
				<li><span style="color: #464646;">электронный контент;</span></li>
				<li><span style="color: #464646;">средства поиска и навигации;</span></li>
				<li><span style="color: #464646;">публикация данных.</span></li>
			</ul>
			<p style="text-align: justify;"><span style="color: #464646;">3.1.2. Этот документ - это
					публичная
					оферта. Если клиент имеет доступ к веб-ресурсе, считается, что он
					соглашается с его
					условиями.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">3.2. Документ касается
					всех
					существующих
					сервисов. Оно касается и дополнительных сервисов, что могут появиться в
					дальнейшем.</span>
			</p>
			<p style="text-align: justify;"><span style="color: #464646;">.&nbsp;&nbsp;</span></p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>4. &nbsp; ПРАВА И
						ОБЯЗАННОСТИ
						СТОРОН</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.1. Менеджмент-команда
					веб-ресурса
					может:</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.1.1. вносить модификации
					в правила
					пользования веб-ресурсом. Все модификации вступают после опубликования
					обновленного
					варианта.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.1.2. ограничивать доступ
					в случае,
					если
					клиентом нарушены правила.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.2. клиент может:</span>
			</p>
			<p style="text-align: justify;"><span style="color: #464646;">4.2.1. пользоваться всеми
					предложенными
					сервисами.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.2.2. пользоваться
					веб-ресурсом.</span>
			</p>
			<p style="text-align: justify;"><span style="color: #464646;">4.2.3. ставить вопросы,
					относительно
					деятельности компании.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3. клиент веб-ресурса
					обязан:</span>
			</p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.1. отправлять
					дополнительные
					данные,
					что связаны с сервисами.&nbsp;</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.2. Не нарушать
					нормальное
					функционирование веб-страницы.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.3. Не публиковать
					рекламную
					информацию,
					если это не согласовано с Менеджмент-командой.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.4. Не нарушать
					конфиденциальность
					любой
					данных.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.5. Не публиковать
					личные данные
					касательно любых лиц.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.7. Не пользоваться
					сервисами
					компании
					для того, чтобы:</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.7.1. нарушать правила
					и законы и
					приносить вред другим людям.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.3.7.2. мотивировать
					совершить
					незаконные
					действия.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.4. клиенту
					нельзя:</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.4.1. применять любые
					варианты с
					целью
					получения данных;</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.4.2. нарушать
					безопасность
					компании;</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.4.3. обходить
					веб-навигацию для
					получения
					данных;</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.4.4. препятствовать
					нормальному
					функционированию веб-ресурса.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">4.4.5. отслеживать других
					Пользователей.</span></p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>5. &nbsp;
						применение
						веб-ресурса
						КОМПАНИИ</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">5.1. веб-ресурс и
					Содержание, из
					которых
					состоит веб-ресурс, являются собственностью и управляются
					Менеджмент-командой.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">5.2. Информация находится
					под защитой
					авторского права, законодательства о товарных знаках.&nbsp;</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">5.3. Информацию нельзя
					копировать,
					воспроизводить, публиковать, передавать или распространять в сети
					.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">5.4. Получение услуг, что
					предлагаются
					компанией, может требовать создания учётной записи клиента.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">5.5. Менеджмент-команда
					веб-ресурса
					может
					аннулировать учетную запись клиента, если он не использовал ее в течение
					большего количества
					календарных месяцев.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">5.6. клиенту необходимо
					сообщать
					Менеджмент-команды веб-ресурса о любом несанкционированном использовании
					его учётной записи
					или
					пароля.&nbsp;</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">5.8. Информация из
					документа
					распространяется на любые дополнительные положения и условия, которые
					касаются услуг, что
					предоставляются компанией.</span></p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>6. &nbsp;
						ОТВЕТСТВЕННОСТЬ</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">6.1. Любые убытки, которые
					клиент
					рискует
					понести не возмещаются Менеджмент-командой веб-ресурса.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">6.2. Менеджмент-команда
					веб-ресурса не
					отвечает за задержки или сбои во время совершения операции, из-за
					различных неполадок в
					системах.</span></p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>7. &nbsp; НАРУШЕНИЕ
						УСЛОВИЙ</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">Менеджмент-команда
					веб-ресурса может
					раскрывать любые собранные о Клиенте данные:</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">7.1.&nbsp; если закон
					предусматривает
					подобное раскрытие.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">7.2. если они необходимы
					для того,
					чтобы
					выполнять закон или судебные решения.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">7.3. и прекращать и (или)
					ограничивать
					доступ если правила нарушены.&nbsp;</span></p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>8. &nbsp;
						РАЗРЕШЕНИЕ
						СПОРОВ</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">8.1. Получатель претензии
					обязан
					письменно
					уведомить автора претензии о результатах в течение 30 календарных дней с
					момента ее
					получения.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">8.2. Если появляются любые
					разногласия
					или
					споры, чтобы обратиться в суд необходимо в обязательном порядке
					предъявить претензию в
					письменном
					виде.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">8.3. Если разрешение спора
					невозможно,
					любая из Сторон может обратиться в суд для защиты своих прав.</span></p>
			<p style="text-align: center;"><span style="color: #464646;"><strong>9. ДОПОЛНИТЕЛЬНЫЕ
						УСЛОВИЯ</strong></span></p>
			<p style="text-align: justify;"><span style="color: #464646;">9.1. Менеджмент-команда
					веб-ресурса не
					обязана соглашаться на встречные предложения от клиента, касательно
					модификаций данного
					клиентского
					документа.</span></p>
			<p style="text-align: justify;"><span style="color: #464646;">9.2. Комментарии клиента
					не считаются
					информацией конфиденциального характера.</span></p>
		</div>
	</div>
</div>

<div id="popup" class="conf " atr-lang="eng">
	<div class="conf__body">
		<div class="conf__content">
			<a href="#" class="conf__close close-popup">
				<?xml version="1.0" ?><svg widt="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
					<g id="cross">
						<line class="cls-1" x1="7" x2="25" y1="7" y2="25" />
						<line class="cls-1" x1="7" x2="25" y1="25" y2="7" />
					</g>
				</svg>
			</a>
			<h3>Privacy Policy</h3>
			<p>The Company has a strong understanding of how important the privacy and security of your personal
				information is to you. The entire Company is focused on keeping the personal information of customers,
				employees, intermediaries, job applicants and other persons, whether in-house or outside the Company, as
				secure as possible. This is the purpose for which we have developed specific policies and practices for the
				protection of personal information. If you open an account or use the company's products and services, you
				consent to the collection and storage of your personal information.&nbsp;</p>
			<p>The terms of this privacy policy are specifically developed on the principles of data and privacy
				protection. They are designed to notify our existing/potential customers, job applicants, site visitors and
				others of the policies that apply.</p>
			<p>This privacy policy relates to those individuals who have shared their personal information or who use the
				company's websites, trading platforms, and software.</p>
			<h2>Who is responsible for Company customer's personal data?</h2>
			<p>The Company is responsible for the security of personal information collected from its customers. Any
				customer's personal information is under the control of the division of the Company that is responsible for
				your service or support.</p>
			<h2>What personal information about customers is collected by the Company?</h2>
			<p>Our Company collects and processes your personal information. It may consist of the following:</p>
			<ul>
				<li>the data that have been provided by the client during their registration on the Company website or
					during the application of any modules of the Company website (for example, it can be name, e-mail, phone
					number, date of birth, tax number, investment objectives, etc.);</li>
				<li>the data obtained after transactions made by the customer through the Company's platform, or data about
					the services offered by the Company;</li>
				<li>the data obtained from agencies that collect information on the credit solvency of clients;</li>
				<li>the data obtained through the use of cookies on the network.</li>
			</ul>
			<h2>What is the purpose for the use of your personal information?</h2>
			<p>The Company may use customers' personal information for the purpose of:</p>
			<ul>
				<li>providing you or your organization with administration, record-keeping and legal control services in
					accordance with the agreement that has been established with us;</li>
				<li>providing you or your organization with brokerage and other services that are available for use on our
					platforms, and/or handling any inquiries you or your organization may have;</li>
				<li>pursuing legitimate interests that involve the ability to perform, monitor and review our business
					activities;</li>
				<li>implementing any agreements and/or protection of our (or someone else's) property or rights, as well as
					being able to dispute possible claims;</li>
				<li>recruiting personnel;</li>
				<li>responding to your requests for information and keep in touch with you for further assistance;</li>
				<li>keeping in touch with you (in case you decline) about services and offers that may be of interest to
					you;</li>
				<li>entering into or executing various operating contracts;</li>
				<li>monitoring the actions and services performed by the Company, which may involve the use of various
					methods such as: (i) the use of "smart" tools for automated monitoring; or (ii) random tracking of
					systems using tools designed to record electronic communications; (iii) purposeful monitoring of systems
					if related to an investigation, regulatory order, lawsuit, arbitration; or (iv) data tracking and
					analysis tools that identify interlinkages from a variety of disparate sources; and/or (v) the use of new
					technologies for monitoring purposes;</li>
				<li>keeping statistics, market research and product analysis, which is necessary to develop and improve our
					range of services;</li>
				<li>recognizing and preventing money laundering, terrorism, fraud or other criminal activity;</li>
				<li>complying with legal/regulatory requirements, as well as meeting our obligations under agreements with
					tax authorities.</li>
			</ul>
			<p>The company may process your personal data (only after you have given your permission to do so in accordance
				with the law) in order to:</p>
			<ul>
				<li>keep in touch with you through your pre-approved contact channels providing you with the latest news,
					announcements and other information about the Company's services, products and technologies;</li>
				<li>conduct surveys, marketing campaigns, market analysis or advertising activities;</li>
				<li>collect information about your preferences in order to customize and improve the quality of
					communication with you.</li>
			</ul>
			<p>In accordance with the legislation, the company can start sending marketing messages only after your
				request. You will always have the option to opt out of this service.</p>
			<p>Your personal information may be processed in accordance with the following legal provisions:</p>
			<ul>
				<li>to carry out your instructions or provisions as set forth in the contract, or to take the steps
					necessary to enter into such a contract;</li>
				<li>to fulfill our obligations pursuant to the law;</li>
				<li>benefit you or third parties as long as such data treatment is not contrary to your interests or
					fundamental rights and freedoms.</li>
			</ul>
			<h2>Your personal information: with whom and when can it be shared?</h2>
			<p>The Company has the right to share your personal information in the following cases:</p>
			<ul>
				<li>to provide services and products, as well as management, billing, and other business activities;</li>
				<li>to instruct local or foreign providers so that they can provide the services you have requested;</li>
				<li>for companies that work in anti-fraud and anti-crime, and for other firms, financial institutions (e.g.,
					credit bureaus and compliance monitoring authorities);</li>
				<li>for any depositories, exchanges, clearing/settlement systems, account inspectors or other participants
					in the current structure, counterparties, dealers, trustees, intermediaries and others in situations
					where such disclosure is necessary in order to perform, monitor and record transactions in the framework
					of services that are provided by our Company;</li>
				<li>for successful staff recruitment;</li>
				<li>for courts, law enforcement agencies, regulatory agencies, attorneys' offices, and other agencies to
					file, substantiate, or dispute a claim or alternative process regarding confidential dispute resolution;
				</li>
				<li>to track traffic to different sections of our site and improve our services.</li>
			</ul>
			<p>In all other cases, we may share your personal information only after your consent (voluntary or such as is
				required under law).</p>
			<h2>Personal information about third parties</h2>
			<p>If you share other people's personal data with us (for example, your executives, employees or persons with
				whom you engage in business activities), make sure that you are entitled to do so. Furthermore, make sure
				that this personal information can be recorded in accordance with the current privacy policy.</p>
			<h2>Security of storing your personal information</h2>
			<p>In compliance with legal requirements, our company takes the necessary technical and organizational measures
				to maintain the confidentiality and security of your personal information. This is done in accordance with
				our internal procedures for storing, disclosing, and accessing information. Thus, personal information may
				be stored in the Company's information systems or its intermediaries', or in the form of paper records.</p>
			<h2>Updating your personal information</h2>
			<p>To update your personal information, you need to contact our customer service (e.g., your email has changed
				or you have reconsidered your consent to use your personal information). Our Company is not liable for any
				damages that arise due to inaccurate, incorrect or incomplete personal information you have provided.</p>
			<h2>Time limits for storing your personal information</h2>
			<p>Our internal policies set forth general procedures and standards for the storage of your personal
				information. It also sets forth procedures for the retention, processing and elimination of customer
				personal information. Retention periods depend on how long it will be needed in order to comply with legal,
				regulatory and business requirements. The company may extend their retention period if necessary for a
				proceeding, lawsuit or investigation.</p>
			<h2>How is the current privacy policy updated?</h2>
			<p>Our site always publishes the current version of our Company's privacy policy. We reserve the right to make
				additions and corrections from time to time. If any such changes occur, they will be posted on our site
				immediately. As soon as they are posted, they enter into force.</p>
		</div>
	</div>
</div>
<div id="popup" class="conf " atr-lang="eng">
	<div class="conf__body">
		<div class="conf__content">
			<a href="#" class="conf__close close-popup">
				<?xml version="1.0" ?><svg widt="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
					<g id="cross">
						<line class="cls-1" x1="7" x2="25" y1="7" y2="25" />
						<line class="cls-1" x1="7" x2="25" y1="25" y2="7" />
					</g>
				</svg>
			</a>
			<p style="text-align: justify;">Terms of use</p>
			<ol>
				<li>GENERAL PROVISIONS</li>
			</ol>
			<ol>
				<li>These Terms of Use (hereinafter referred to as the "Document") are referenced to the web resource on
					which they are publicly available.</li>
				<li>The web resource is owned by the Company.</li>
				<li>Further use of the web resource is deemed to be acceptance of the terms and conditions and any
					modifications that may have been made.</li>
				<li>The management team can make modifications or remove data without any previous notification.</li>
				<li>This Document is to regulate the relationship between the Management Team and its client.</li>
				<li>the Client is responsible for checking the modifications (considering all modifications made by the
					Management Team).</li>
			</ol>
			<ol>
				<li>TERMS DEFINITIONS</li>
				<ol>
					<li>The terms that are listed below have the following meaning:</li>
					<ol>
						<li>Management team &ndash; employees who are involved in management.</li>
						<li>The Organization uses an Internet resource to carry out its business activities.</li>
						<li>User (hereinafter, the Client) &ndash; a person who receives an opportunity to use access to a web
							resource, via the network.</li>
					</ol>
				</ol>
				<li>SUBJECT OF THE DOCUMENT</li>
				<ol>
					<li>The subject is access to the data and services that the Company performs.</li>
					<ol>
						<li>Among the services that the Client can receive, should be highlighted the following:</li>
					</ol>
				</ol>
			</ol>
			<p style="text-align: justify;">● electronic content;</p>
			<p style="text-align: justify;">● search and navigation tools;</p>
			<p style="text-align: justify;">● data posting.</p>
			<ol>
				<li>This Document is a public offer. Once the Client has access to the web resource, he is considered to
					have agreed to its Terms and Conditions.</li>
			</ol>
			<ol>
				<li>The document applies to all existing services. It also applies to additional services that may arise in
					the future.</li>
			</ol>
			<ol>
				<li>RIGHTS AND OBLIGATIONS OF THE PARTIES</li>
				<ol>
					<li>The Management Team of the web resource can:</li>
					<ol>
						<li>make modifications to the rules for using the web resource. All modifications come into effect
							when the updated version is published.</li>
						<li>restrict the access in case the Client violates the rules.</li>
					</ol>
				</ol>
			</ol>
			<ol>
				<li>the Client can:</li>
				<ol>
					<li>use all the services offered.</li>
					<li>use the web resource.</li>
					<li>ask questions about the Company's activities.</li>
				</ol>
			</ol>
			<p style="text-align: justify;">4.3. the Client of the web resource is obliged:</p>
			<p style="text-align: justify;">4.3.1. to send additional data related to the services.</p>
			<p style="text-align: justify;">4.3.2. not to disrupt the normal operation of the web page.</p>
			<p style="text-align: justify;">4.3.3. not to publish advertising information unless it is agreed with the
				Management Team.</p>
			<p style="text-align: justify;">4.3.4. not to violate the confidentiality of any data.</p>
			<p style="text-align: justify;">4.3.5 Not to disclose personal data regarding any individuals.</p>
			<p style="text-align: justify;">4.3.7 Not to use the services of the company in order to:</p>
			<p style="text-align: justify;">4.3.7.1. violate rules and laws and cause harm to other individuals.</p>
			<p style="text-align: justify;">4.3.7.2. incite to commit illegal actions.</p>
			<ol>
				<li>the client should not:</li>
				<ol>
					<li>apply any ways in order to obtain data;</li>
					<li>compromise the security of the company;</li>
					<li>bypass web navigation to retrieve data;</li>
					<li>interfere with the normal functioning of the web resource.</li>
					<li>keep track of other Users.</li>
				</ol>
			</ol>
			<ol>
				<li>COMPANY'S WEB RESOURCE USE</li>
			</ol>
			<p style="text-align: justify;">5.1. The Web Resource and the Content that make up the Web Resource are owned
				and operated by the Management Team.</p>
			<p style="text-align: justify;">5.2. The information is protected by copyright and trademark law.</p>
			<p style="text-align: justify;">5.3. The information should not be copied, reproduced, published, transmitted
				or distributed online.</p>
			<p style="text-align: justify;">5.4. Receiving services that are offered by the Company may require the
				creation of a client account.</p>
			<p style="text-align: justify;">5.5. The Web resource&rsquo;s Management Team may cancel a Client's account if
				the Client has not used it for a period of several calendar months.</p>
			<p style="text-align: justify;">5.6. The Client must inform the Management Teams of the Web resource of any
				unauthorized use of his/her account or password.</p>
			<p style="text-align: justify;">5.7. The information from this Document applies to any additional Terms and
				Conditions that apply to the services that are provided by the Company.</p>
			<ol>
				<li>LIABILITY</li>
			</ol>
			<p style="text-align: justify;">6.1. Any losses that the client is at risk of incurring shall not be covered by
				the Management Team of the Web resource.</p>
			<p style="text-align: justify;">6.2. The Management team of the Web resource is not responsible for delays or
				failures during transactions, due to various malfunctions in the systems.</p>
			<p style="text-align: center;"><strong>7. VIOLATION OF TERMS AND CONDITIONS</strong></p>
			<p style="text-align: justify;">The Management Team of the Web resource has the right to disclose any data
				collected about the Client:</p>
			<p style="text-align: justify;">7.1. if the law provides for such disclosure.</p>
			<p style="text-align: justify;">7.2. if it is necessary in order to comply with the Law or court judgments.</p>
			<p style="text-align: justify;">7.3. and terminate and/or restrict access if the rules are violated.</p>
			<p style="text-align: center;"><strong>8. DISPUTE SETTLEMENT</strong></p>
			<p style="text-align: justify;">8.1. The claimee must notify the claimant in writing of the results within 30
				calendar days of receiving the claim.</p>
			<p style="text-align: justify;">8.2. If any disagreements or disputes arise, to appeal to the court it is
				necessary to present a claim in writing.</p>
			<p style="text-align: justify;">8.3. If the dispute cannot be resolved, either Party may petition the court to
				protect their rights.</p>
			<p style="text-align: center;"><strong>9. ADDITIONAL TERMS</strong></p>
			<p style="text-align: justify;">9.1 The Management Team of the Web resource is not obliged to agree to
				counter-proposals from the Client concerning modifications of this Client's document.</p>
			<p style="text-align: justify;">9.2 Client's comments are not considered as confidential information.</p>
		</div>
	</div>
</div>